* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 992px;
  margin: 50px auto;
}

h3 {
  font-size: 24px;
  margin-top: 70px;
}

p {
  font-size: 14px;
  line-height: 24px;
  margin-top: 30px;
}